/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
  /* 10px if the browser was 16px*/
  /* 1rem === 10px @ medium browser settings */
}
body {
  font-family: 'Sarabun', sans-serif;
}
h1 {
  font-size: 4.6rem;
}
h2 {
  font-size: 3rem;
  font-weight: bold;
}
h3 {
  font-size: 2.2rem;
  font-weight: bold;
}
h4 {
  font-size: 2rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.2;
}
@media (max-width: 500px) {
  p {
    text-align: center;
  }
}
li {
  font-size: 1.6rem;
}
.container {
  margin: 30px auto;
  max-width: 700px;
}
.container header {
  display: flex;
  justify-content: flex-end;
}
.container header nav {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .container header nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-top: 2px solid black;
  }
}
.container header nav a {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
}
@media (max-width: 500px) {
  .container header nav a {
    width: 100%;
    border-bottom: 2px solid black;
    align-self: center;
    text-align: center;
    padding: 4%;
  }
}
.container footer {
  background-color: #848484;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container footer p {
  color: white;
}
.section1 {
  background-color: #efefef;
  height: 600px;
  margin: 30px auto;
  padding: 40px 25px 50px 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .section1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0 0 0;
  }
}
.section1 div {
  height: 72%;
  border-bottom: solid 1px grey;
  width: 100%;
}
@media (max-width: 500px) {
  .section1 div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.section1 div img {
  width: 240px;
  height: 240px;
  border: 1px solid black;
  border-radius: 5px;
}
.section1 div h1 {
  padding: 10px 0 20px 0;
}
@media (max-width: 500px) {
  .section1 div h1 {
    text-align: center;
  }
}
.section1 button {
  border: 1.2px solid black;
  color: white;
  background-color: black;
  height: 40px;
  width: 152px;
  border-radius: 6px;
  font-size: 1.8rem;
}
@keyframes colorchange {
  from {
    border: 1.2px solid black;
  }
  to {
    border: 1.2px solid red;
  }
  from {
    color: white;
  }
  to {
    color: red;
  }
}
.section1 button:hover {
  background-color: black;
  color: white;
  animation-name: colorchange;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.section2 {
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}
.section2 h2 {
  padding-bottom: 14px;
}
@media (max-width: 500px) {
  .section2 {
    display: flex;
    flex-wrap: wrap;
  }
}
.section2 div {
  height: 220px;
  width: 48%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
@media (max-width: 500px) {
  .section2 div {
    width: 100%;
    justify-content: center;
    align-content: flex-start;
  }
}
.section2 div ul {
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.section2 div ul li {
  width: 100%;
}
.section3 {
  margin: 30px auto;
}
.section3 h3 {
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
}
@media (max-width: 500px) {
  .section3 h3 {
    text-align: center;
  }
}
.section3 .subsection3 {
  display: flex;
  justify-content: space-between;
}
.section3 .subsection3 div {
  height: 160px;
  width: 133px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.section3 .subsection3 div .bold {
  font-weight: bold;
}
.section3 .subsection3 div p {
  width: 100%;
}
